<div class="row">
    <div class="span12">
        <img src="http://place.manatee.lc/2000/500.jpg" />

        <div class="row">
            <div class="span2">
                <img src="http://place.manatee.lc/1000/1000.jpg" id="profile-image" />
            </div>

            <div class="span10">
                <h1>Firstname Lastname</h1>

                <div class="row">
                    <div class="span10">
                        Interim lusshoffer at Dr. Kobros
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        Timeline
    </div>
</div>
