/* Posts */

#wall textarea {
    width: 100%;
}
#wall ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#wall ul ul {
    font-size: smaller;
    margin-left: 85px;
}
#wall ul ul li {
    margin: 15px 0;
    padding-top: 15px;
    border-top: 1px solid #999;
}
#wall ul ul li.comment img {
    float: left;
    width: 50px;
}
#wall ul ul li > div {
    margin-left: 60px;
}
#wall li.post img {
    float: left;
    width: 75px;
}
#wall li.post > div {
    padding-left: 85px;
}
img.mini {
    width: 20px;
    height: 20px;
}
