body * {
  zoom: 1;
}
#main {
  margin-top: 4%;
}
body .navbar .container #losofacebook-logo.brand span#losonaamakirja {
  font-weight: bold !important;
}
.navbar-inverse .navbar-inner {
  background-image: url('/img/background.png');
  background-repeat: repeat;
  color: white;
}
.navbar-inverse .navbar-inner a {
  color: white !important;
}
#advertisements {
  opacity: 0.9;
}
#profile-image {
  position: relative;
  top: -50px;
  left: 10px;
  z-index: 1;
  width: 90%;
  border: 4px solid white;
}

/* Friends */

.friends {
    max-height: 200px;
    overflow-y: scroll;
}


.friends > ul {
    display: block;
    margin: 0;
}
.friends > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0.2em 0;
}
.friends img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

/* Posts */

#wall textarea {
    width: 100%;
}
#wall ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#wall ul ul {
    font-size: smaller;
    margin-left: 85px;
}
#wall ul ul li {
    margin: 15px 0;
    padding-top: 15px;
    border-top: 1px solid #999;
}
#wall ul ul li.comment img {
    float: left;
    width: 50px;
}
#wall ul ul li > div {
    margin-left: 60px;
}
#wall li.post img {
    float: left;
    width: 75px;
}
#wall li.post > div {
    padding-left: 85px;
}
img.mini {
    width: 20px;
    height: 20px;
}

