@import url('losofacebook-friends.css');
@import url('losofacebook-posts.css');

body * {
  zoom: 1;
}
#main {
  margin-top: 4%;
}
body .navbar .container #losofacebook-logo.brand span#losonaamakirja {
  font-weight: bold !important;
}
.navbar-inverse .navbar-inner {
  background-image: url('/img/background.png');
  background-repeat: repeat;
  color: white;
}
.navbar-inverse .navbar-inner a {
  color: white !important;
}
#advertisements {
  opacity: 0.9;
}
#profile-image {
  position: relative;
  top: -50px;
  left: 10px;
  z-index: 1;
  width: 90%;
  border: 4px solid white;
}

