body * {
    zoom: 1;
}

#main {
    margin-top: 4%;
}

body .navbar .container #losofacebook-logo.brand span#losonaamakirja {
    font-weight: bold !important;
}

.navbar-inverse .navbar-inner {
    background-image: url('../img/background.png');
    background-repeat: repeat;

    color: white;
}

.navbar-inverse .navbar-inner a { color: white !important; }

