<div class="row">
    <div class="span12">
        <img ng-src="http://place.manatee.lc/{{ person.backgroundId }}/2000/500.jpg" />

        <div class="row">
            <div class="span2">
                <img ng-src="/api/image/{{ person.primaryImageId }}/thumb" id="profile-image" />
            </div>

            <div class="span10">
                <h1>{{ person.firstName }} {{ person.lastName }} </h1>

                <div class="row">
                    <div class="span10">
                        {{ person.occupation }} at {{ person.company }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="span8">

        <h2>Wall</h2>


        <ul>
            <li ng-repeat="post in posts" ng-bind-html="post.content">
            </li>

        </ul>



    </div>

    <div class="span4">
        <h2>Friends</h2>
        <lb-friends person="person"></lb-friends>
    </div>

</div>
